# Ignore local dev artifacts
node_modules
.next
.cache
npm-debug.log
.env
.env.local
.env.development
.env.production.local

# VCS
.git
.gitignore

# Editor configs
.vscode
*.swp

# OS junk
.DS_Store
Thumbs.db

# Build/test output
dist
build
